html,
body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: sans-serif;
  color: #fff;
  scroll-behavior: smooth;
  scroll-padding-top: 90px;
}

body::-webkit-scrollbar {
  width: 14px;
}

body::-webkit-scrollbar-track {
  background: #353535;
}

body::-webkit-scrollbar-thumb {
  background-color: #090808;
  border-radius: 20px;
  border: 3px solid #353535;
}

.select-disable {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.index-bg {
  background: linear-gradient(to bottom,
      rgba(0, 0, 0, 0.8) 0%,
      rgba(0, 0, 0, 0.8) 100%),
    url("../img/bg-2.png");
}

.index-header {
  background: linear-gradient(to bottom,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 0.8) 100%),
    url("../img/bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.navbar {
  background-color: #6d0a0e;
  padding: 22px;
}

.barbershop-name {
  margin-left: 40px;
  margin-bottom: 0;
  font-family: "Lora", serif;
  font-size: 21px;
  font-weight: bold;
  color: #fff;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.navbar .menu {
  justify-content: flex-end;
}

.navbar-nav .nav-item .nav-link {
  all: unset;
  padding: 22px;
  font-size: 15px;
  color: #fff;
  text-decoration: none;
  letter-spacing: 2px;
}

.navbar-nav .nav-item .nav-link:hover {
  background-color: #934a4e;
  transition: 0.7s;
  cursor: pointer;
}

.container-logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 98vh;
}

.container-logo h3 {
  font-size: 23px;
  font-family: "Lora", serif;
  text-align: center;
  margin-bottom: 3px;
}

.logo {
  max-width: 46vh;
}

.restricted-area {
  padding-top: 11vh;
  flex: 1;
  background: linear-gradient(to bottom,
      rgba(0, 0, 0, 0.8) 0%,
      rgba(0, 0, 0, 0.7) 100%),
    url("../img/bg-2.png");
}

footer {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70px;
  background-color: #000;
}

footer h6 {
  font-size: 10px;
  margin: 0;
  margin-bottom: 5px;
  text-transform: uppercase;
}

footer h6 a {
  text-align: center;
  font-size: 10px;
  color: #fff;
  text-decoration: none;
}

footer h6 a:hover {
  color: #fff;
  text-decoration: underline;
  cursor: pointer;
}

.user-container {
  background-color: #cecccc;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.user-bg {
  width: 70vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 0.5) 100%),
    url("../img/login-bg.png");
  background-size: cover;
}

.login-hr {
  margin-top: 6px;
  margin-bottom: 50px;
  width: 72px;
  height: 2px;
  background-color: #000;
  border-radius: 10px;
}

.title {
  color: #000;
  font-size: 23px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: "Lora", serif;
  text-align: center;
}

#errorText {
  font-size: 13px;
  color: #cecccc;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  visibility: hidden;
}

.user-login-text {
  font-size: 13px;
  color: #000;
  text-align: center;
  margin-bottom: 10px;
}

.index-submit-btn {
  color: #000;
  background-color: #fff;
  cursor: pointer;
  margin-bottom: 50px;
  width: 500px;
  padding: 15px;
  border-radius: 50px;
  border-style: none;
  box-shadow: 8px 8px 12px #000;
  border: 1px solid #fff;
}

.submit-login-btn {
  font-size: 12px;
  color: #fff;
  background-color: #000;
  cursor: pointer;
  width: 100%;
  padding: 15px;
  margin-bottom: 19px;
  border-radius: 50px;
  border: 1px solid #000;
}

#backButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  color: #fff;
  padding: 8px;
  border-radius: 50%;
  border: 1px solid #000;
  margin-top: 30px;
}

.submit-login-btn:hover,
#backButton:hover {
  background-color: #fff;
  color: #000;
  transition: 0.3s;
  cursor: pointer;
}

.login-user-form {
  width: 30vw;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user-container .form {
  width: 80%;
  align-items: center;
}

label {
  display: flex;
  justify-content: flex-start;
  margin-bottom: -25px;
  margin-top: 15px;
}

.modal label {
  display: flex;
  justify-content: flex-start;
}

.password-container {
  width: 100%;
  display: flex;
}

.material-symbols-outlined {
  margin-top: 12px;
  margin-left: 5px;
  color: #000;
  background-color: #fff;
  padding: 7px;
  border-radius: 15px;
  box-shadow: 0px 0px 3px #000;
  border: 1px solid #fff;
}

.form-control:focus {
  border: none;
  outline: 0;
  box-shadow: none;
}

.text-input {
  font-size: 12px;
  margin-top: 12px;
  padding: 9px;
  border-style: none;
  border-radius: 15px;
  width: 100%;
  box-shadow: 0px 0px 2px #000;
}

.index-text-input {
  margin-top: 31px;
  padding: 9px;
  border-style: none;
  border-radius: 15px;
  width: 500px;
  box-shadow: 8px 8px 12px #000;
}

.modal .img-input {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 230px;
  height: 200px;
  color: #000;
  background-color: #fff;
  border-radius: 15px;
  border: 1px solid #ced4da;
  cursor: pointer;
}

.img-input {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 230px;
  height: 200px;
  color: #000;
  background-color: #fff;
  border-radius: 15px;
  border: 1px solid #fff;
  cursor: pointer;
}

.img-input img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

.send-img-container {
  margin-top: 20px;
  margin-bottom: 24px;
  display: flex;
  justify-content: center;
}

.modal .send-img-container {
  margin-top: 0;
  display: flex;
  justify-content: center;
  width: 100%;
}

.rt-text-input {
  margin-top: 31px;
  padding: 9px;
  border-style: none;
  border-radius: 15px;
  width: 500px;
}

.index-text-input:focus {
  outline: 0;
}

.text-input:focus,
.rt-text-input:focus,
select:focus {
  box-shadow: 1px 1px 10px #000;
  transition: 0.5s;
  outline: 0;
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  box-sizing: border-box;
  margin-top: 12px;
  padding: 9px;
  border-style: none;
  border-radius: 15px;
  width: 290px;
  box-shadow: 0px 0px 2px #000;
  cursor: pointer;
}

textarea {
  height: 150px;
}

.white-submit-btn {
  color: #000;
  background-color: #fff;
  cursor: pointer;
  margin-left: 3px;
  margin-right: 3px;
  padding: 15px;
  padding-left: 31px;
  padding-right: 31px;
  border-radius: 50px;
  border-style: none;
  border: 1px solid #fff;
}

.btn-container {
  display: flex;
  justify-content: center;
}

.btn-container .btn {
  margin-top: 7px;
}

.index-submit-btn:hover,
.material-symbols-outlined:hover,
.white-submit-btn:hover,
.img-input:hover {
  background-color: #000;
  color: #fff;
  transition: 0.3s;
  border: 1px solid #fff;
  cursor: pointer;
}

.column-1 {
  margin-top: 40px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.column-2 {
  margin-top: 40px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-hr {
  margin-top: 8px;
  width: 58px;
  height: 1px;
  background-color: #ff0008;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

table {
  padding: 10px;
  margin-top: 32px;
  background-color: #fff;
  color: #000;
  border-collapse: unset;
  border-radius: 15px;
}

td,
th {
  height: 36px;
}

th {
  padding-right: 10px;
}

td {
  padding-right: 8px;
  padding-bottom: 6px;
}

#service,
#product {
  padding-top: 30px;
}

#contactUs {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  text-transform: uppercase;
  font-size: 25px;
  letter-spacing: 1px;
}

.index-hr {
  margin-top: 6px;
  width: 80px;
  height: 1px;
  background-color: #ff0008;
}

.img-col {
  text-align: center;
}

.img-container {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 280px;
  background-color: #fff;
  padding-bottom: 10px;
  margin: 31px 36px 20px 36px;
  border-radius: 15px;
  box-shadow: 8px 8px 12px #000;
}

/* index cards transition */
[data-aos][data-aos][data-aos-duration="400"],
body[data-aos-duration="400"] [data-aos] {
  transition-duration: .6s;
}

.img {
  width: 280px;
  height: 250px;
  margin-bottom: 5px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.img-name {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
}

p {
  all: unset;
  word-wrap: break-word;
  font-size: 14px;
  color: #000;
  margin-left: 5px;
  margin-right: 5px;
}

.message-container {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  width: 280px;
  height: 226px;
  background-color: #fff;
  padding-bottom: 10px;
  margin: 18px 36px 20px 36px;
  border-radius: 15px;
  box-shadow: 8px 8px 12px #000;
}

.message-container p {
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
}

.modal-backdrop {
  z-index: unset;
}

.modal-body-edit {
  padding-top: 0px;
}

.modal-body {
  text-align: center;
}

.modal-body,
.modal h5 {
  color: #000;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  white-space: normal;
}

@media (max-width: 991px) {

  html,
  body {
    scroll-padding-top: 170px;
  }

  .navbar {
    padding: 12px;
  }

  nav .menu {
    justify-content: flex-start;
  }

  .barbershop-name {
    font-size: 16px;
    margin-left: 6px;
  }

  .navbar-nav .nav-item .nav-link {
    padding: 1px;
  }

  .menu ul {
    margin-left: 14px;
  }

  .container-logo h3 {
    font-size: 17px;
    margin-left: 2px;
    margin-right: 2px;
  }

  .user-bg {
    display: none;
  }

  .restricted-area .logo {
    display: none;
  }

  .login-user-form {
    width: 100vw;
  }

  label {
    width: 280px;
  }

  .rt-text-input,
  .index-text-input,
  .index-submit-btn {
    width: 280px;
  }

  table {
    display: block;
    position: relative;
    width: 100%;
    height: 265px;
  }

  .clientTable table {
    display: block;
    position: relative;
    width: 100%;
    height: 235px;
  }

  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }

  thead {
    float: left;
  }

  tbody {
    width: auto;
    height: 250px;
    position: relative;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    white-space: nowrap;
  }

  .clientTable tbody {
    width: auto;
    height: 220px;
    position: relative;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    white-space: nowrap;
  }

  tbody tr {
    display: inline-block;
  }

  .btnTd {
    margin-top: 7px;
  }

  h2 {
    font-size: 22px;
  }

  .img-container,
  .message-container {
    margin-left: 10px;
    margin-right: 10px;
  }

  footer h6 {
    text-align: center;
    font-size: 10px;
    margin: 0;
    margin-bottom: 5px;
    text-transform: uppercase;
  }
}

@media (min-width: 992px) {
  .container-column {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}